<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
      <h2 class="mb-5">Contact Me</h2>
      <div class="formcontainer">
        <form action="https://formspree.io/emma.rifai@gmail.com"
          method="POST">
        <div>
            <input type="text" name="name" placeholder="Your Name (required)" required>
        </div>
        <div>
            <input type="email" name="_replyto" placeholder="Your Email Address (required)" required>
        </div>
        <div>
            <textarea name="body" rows="10" cols="50" placeholder="What's on your mind?"></textarea>
        </div>
        <input type="submit" value="Send">
        </form>
    </div>
    
     </div>
  </section>
