{{ define "main" }}
   {{ partial "about.html" .}}
   {{ if .Site.Params.showEducation }}
        {{ partial "education.html" . }}
   {{ end }}
   {{ if .Site.Params.showPublications }}
        {{ partial "publicationsSummary.html" . }}
   {{ end }}
   {{ if .Site.Params.showHonorsAwards }}
       {{ partial "honorsandawards.html" . }}
   {{ end }}
   {{ if .Site.Params.showTeaching }}
       {{ partial "teaching.html" . }}
   {{ end }}
   {{ if .Site.Params.showResearch }}
       {{ partial "research.html" . }}
   {{ end }}
   {{ if .Site.Params.showService }}
       {{ partial "service.html" . }}
   {{ end }}
   {{ if .Site.Params.showContact }}
       {{ partial "contact.html" . }}
   {{ end }}
{{ end }}
